        /*CZCIONKI*/
@font-face{
    font-family: m300;
    src: url("fonts/MuseoSans-300.otf")
}
@font-face{
    font-family: m300i;
    src: url("fonts/MuseoSans-300Italic.otf")
}
@font-face{
    font-family: m500;
    src: url("fonts/MuseoSans_500.otf")
}
@font-face{
    font-family: m500i;
    src: url("fonts/MuseoSans_500_Italic.otf")
}
        /*UNIWERSALNE KLASY*/
.contener-fluid{
    width: 100%;
    height: auto;
}
.container{
    width: 1165px;
    margin: 0 auto; 
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.text-container{
    text-align: center; 
}
.fix{
    overflow: hidden;
}
.box_frame{
    width: 1190px;
    height: 210px; 
    margin: 0 auto; 
    border: 1px hidden black; 
    float:left; 
}
.white{
    background-color:white !important;
}
.white > h1{
    background-color:white !important;
}
.gray{
    background-color:#f8f8f8 !important;
}
.gray > h1{
    background-color:#f8f8f8 !important;
}
body{
    font-family: Arial; 
    margin: 0 auto;
    padding: 0; 
}
.wrapper{
    font-family: Oswald, sans-serif;
    width: 100%; 
    height: auto;
    padding: 0;
    margin: 0; 
}
.wrapper2{
    margin-left: -10px; 
}
            /*UPHEADER*/

.upperheader{
    padding-top: 10px;
    padding-bottom: 20px;
 }
.support{
    display: inline; 
}

.support > ul{
    width: 600px;
    display: inline; 
    text-decoration: none;
    list-style: none;
    float:left; 
    padding: 0 ;
    margin: 0;
}

.support > ul > li{
    float: left; 
    font-family: m300;
    color: #463f3a;
    font-size: 10px; 
    line-height: 14px; 
    text-align: left;   
    display: inline; 
    padding-right: 15px;
}
.support ul > li > img{
    padding-right: 5px;  
}
.login{
    display: inline; 
}
.login > ul{
    width: 350px; 
    display: inline; 
    text-decoration: none;
    list-style: none;
    float:right; 
    margin: 0;
    padding: 0;
}
.login > ul > li{
    float:right; 
    font-family: m300;
    color: #463f3a;
    font-size: 10px; 
    line-height: 14px;  
    display: inline; 
    padding: 0px 5px;
}

            /*MENU*/
.menu_container{
    background-color:  #f5f6f1;
    width: 1600px;
    height: 163px;
}
.menu{
    margin: 0 auto;
    padding-top: 20px; 
}
.logo{
    height: 130px;
    width: 210px; 
    display: inline;
    float:left;
}
.logo_text{
    margin:0; 
    padding:0;
    position: relative;
    top: 50px; 
    
}
.logo_text > h1{
    font-family: Intro;
    color:  #463f3a;
    font-size: 48px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    padding:0; 
    margin: 0; 
}
.logo_text > h2 {
    font-family: Arial;
    color:  #463f3a;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}
.logo_img {
    height: 65px;
    width: 35px;
    padding: 0;
    margin:0;
    position: relative;
    bottom: 15px; 
}
.logo_img > img{
    height: 52px; 
    width: 35px;
}

.navigation {
    margin: 0 auto;
    width: 550px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 40px;
}
.navigation > ul{
    margin: 0 auto;
}
.navigation > ul > li{
    text-decoration: none; 
    float: left;
    list-style: none; 
    font-family: m300;
    color:  #463f3a;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    padding-left: 15px; 
}
.navigation2 > ul > li::after { 
    content: " /"; 
    padding-left: 7px; 
    color: #f55856;
}
.navigation > ul > li::after { 
    content: " /";
    padding-left: 7px;
    color: #f55856;
}
.navigation > ul > li:last-child::after{
    content: ""; 
}
.navigation2 > ul > li:last-child::after{
    content: ""; 
}

.navigation > ul > li > a:link{
    text-decoration: none;
    color: #463f3a; 
}
.navigation > ul > li > a:visited{
    text-decoration: none;
    color: #463f3a; 
}
.navigation > ul > li > a:hover{
    text-decoration: none;
    background-color: #d9d9d9;
}

.right_icons{
    float: right; 
    height: 40px;
    width: 110px;
}
.cart_text {
    margin: 0;
    padding:0;
}
.cart_text > p{
    margin: 0;
    padding: 0;
    font-family: MuseoSans;
    color:  #757575;
    font-size: 18px;
    line-height: 14px;
    text-align: right;  
}
.cart_text > h4{
    margin: 0;
    padding: 0;
    font-family: MuseoSans;
    color:  #463f3a;
    font-size: 18px;
    line-height: 14px;
    text-align: right;
}

.cart_icon {
    height: 30px;
    width: 45px;
    float:right;
    background-color: #f5f6f1;
}


          /*PORTFOLIO*/

.portfolio {
    background-image: url("images/slideshow-image-3.jpg");
    height: 520px; 
    margin: 40px auto; 
}
.portfolio_text{
    width: 362px;
    height: 175px;
    padding: 80px; 
}
.portfolio_text > p{
    font-family: Oswald;
    color:  #ffffff;
    font-size: 55px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;

}
.portfolio > img{
    position: relative;
    top: 180px; 
    float: right; 
    width: 500px;
    height: 160px;
    margin: 0 auto; 
    opacity: 0.9;
}
.conditions_container{
     width: 1165px;
     height: auto; 
     margin: 0 auto; 
     overflow: hidden; 
}
.conditions{ 
    width: 1195px;
    height: 160px; 
    margin: 0 auto; 
    border: 1px hidden black; 
    float:left; 
}
.box{
    background-color:  #f5f6f1;
    width: 370px;
    height: 120px;
    overflow: hidden;
    margin: 0 auto; 
    float: left;
    margin-right: 28px; 
}
.box > h1{
    font-family: Oswald;
    color:  #463f3a;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}
.box > p{
    font-family: m300;
    color:  #252424;
    font-size: 16px;
    line-height: 20px;
    text-align: center;   
}
.shoe_container{
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    background-color:  #f8f8f8;
    width: 1600px;
    height: 660px;
}

            /*BUTY KATEGORIA*/
.shoe_category {
  
}
.heading{
    height: 50px;
    margin: 10px auto; 
}
.spec_h1{
    height: 30px;
    width: 300px; 
    margin: 0 auto;
    position: absolute;
    left: 665px; 
    clear:both; 
    background-color: #f8f8f8;
 
}
.spec_h1 > h1{
    font-family: Oswald;
    color:  #463f3a;
    font-size: 30px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
}
.lines{
    height: 10px;
    width: 1165px;
    margin: 0 auto; 
    padding-top: 23px; 
}
.border_solid{
    height: 3px;
    border-bottom: 3px solid #463f3a;
}
.border_groove{
    height: 2px;
    border-bottom: 1px groove gray;
}

.img_container{
     width: 1185px;
     float: left;
     height: 320px; 
     margin: 0 auto; 
     overflow: hidden; 
}
.img_container > img{
     width: 380px; 
     height: 350px;
     float: left;
     padding-right: 15px; 
}

.box2{
    background-color:  white;
    width: 380px;
    height: 300px;
    overflow: hidden;
    float: left; 
    margin: 0px 15px 20px 0px; 
}
.box2 > h1{
    font-family: Oswald;
    color:  #463f3a;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    padding: 10px 15px; 
}
.box2 > h2{
    font-family: m300;
    color:  #f55856;
    font-size: 20px;
    line-height: 42px;
    text-align: left;
    padding: 10px 15px;
}
.box2 > p{
    font-family: m300;
    color:  #252424;
    font-size: 16px;
    line-height: 20px;
    text-align: center;  
    padding: 10px 15px; 
}

        /*OSTATNIE PRZYBYŁE*/
.latest_arrivals_container{
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    background-color:  #fdfdfd;
    width: 1600px;
    height: 484px;
}
.latest_arrivals {
}

.img_container2{
     width: 1230px;
     float: left;
     height: 200px; 
     margin: 0 auto; 
     overflow: hidden; 
}
.img_container2 > img{
    margin-right: 15px;
    width: 280px;
    height: 200px;
}
.box3{
    background-color:  #f8f8f8;
    width: 280px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto; 
    float: left;
    margin-right: 17.5px; 
}
.box3 > h1{
    font-family: m300;
    color:  #000000;
    font-size: 18px;
    line-height: 14px;
    text-align: left;
}
.box3 > h2{
    font-family: m300;
    color:  white;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    background-color: #463f3a; 
}
.box3 > p{
    font-family: m500;
    color:  #000000;
    font-size: 20px;
    line-height: 14px;
    text-align: left;  
}

            /*PRODUKTY WYRÓŻNIONE*/
.featured_products_container {
    border-style: solid;
    border-width: 1px;
    border-color:  #e6e6e6;
    background-color:  #f8f8f8;
    width: 1600px;
    height: 492px;
}

                    /*BLOG*/
.blog {
}
   
.blog > img{
    margin-right: 10px; 
}

.blog_container{
    width: 1600px;
    height: 500px;
}
.img_container3{
     width: 1230px;
     float: left;
     height: 200px; 
     margin: 0 auto; 
     overflow: hidden; 
}
.img_container3 > img{
    margin-right: 20px;
    width: 373px;
    height: 180px;
}
.box4{
    background-color:  white;
    width: 373px;
    height: 220px;
    overflow: hidden;
    margin: 0 auto; 
    float: left;
    margin-right: 22px; 
}
.box4 > h1{
    font-family: m300;
    color:  #2a2b2c;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    transform: scaleX(1.0005);
}
.box4 > h2{
    font-family: m300;
    color:  #f55856;
    font-size: 15.98px;
    line-height: 24px;
    text-align: left;
    transform: scaleX(1.0013);
}
.box4 > p{
    font-family: m300;
    color:  #463f3a;
    font-size: 15.99px;
    line-height: 24px;
    text-align: left;
}

            /*STOPKA1*/

.footer1 {
    background-color:  #f2f2f0;
    width: 1600px;
    height: 160px;
    margin: 0 auto;
}
.footer_content{
    padding-top: 35px ;
    width: 750px;
    height: 50px; 
    text-align: center;
    margin: 0 auto; 
}
.footer_content > h1 {
    font-family: Oswald;
    color:  #463f3a;
    font-size: 36px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
}
.footer_content > p{
    font-family: m300;
    color:  #6c6c6c;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
}
           /*STOPKA2*/

.footer2_container{
   background-color:  #463f3a;
   width: 1600px;
   height: 224px;
    
}
.footer2 {
    margin: 0;
    padding: 0;
    background-color:  #f5f6f1;
    width: 1600px;
    height: 163px;
    
}
.menu2{
    margin: 0 auto;
    padding-top: 40px;
}
.logo2{
    height: 130px;
    width: 210px; 
    padding: 10px;
    display: inline;
    float:left;
}
.logo2_text{
    margin: 0; 
    padding:0;
    position: relative;
    top: 50px; 
    
}
.logo2_text > h1{
    font-family: Intro;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    padding:0; 
    margin: 0; 
}
.logo2_text > h2 {
    font-family: Arial;
    color:  #c6c6c6;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}
.logo2_img {
    height: 60px;
    width: 25px;
    padding: 0;
    margin:0;
    position: relative;
    bottom: 15px; 
}
.logo2_img{
    height: 52px;
    width: 22px; 
}

.navigation2{
    margin: 0 auto;
    width: 550px;
    height: 50px;
    position: relative;
    top: 50px; 
    left: 40px;
}
.navigation2 > ul{
    margin: 0 auto; 
    text-decoration: none; 
}
.navigation2 > ul > li{
    text-decoration: none; 
    float: left;
    list-style: none; 
    font-family: m300;
    color:  #ffffff;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    padding-left: 15px; 
}

.navigation2 > ul > li > a:link{
    text-decoration: none; 
    color: white;
}
.navigation2 > ul > li > a:visited{
    color: white;
    text-decoration: none;
}
.navigation2 > ul > li > a:hover{
    color: white;
    background-color: #a6a6a6; 
}
.navigation2 > p {
    margin: 0 auto;
    padding: 40px 0px;
    font-family: m300;
    color:  #ffffff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    transform: scaleY(1.0015);
}
.right_icon{
    float: right; 
    height: 50px;
    width: 50px; 
    background-color: #39332e ;
}
.right_icon > img{
    padding:20px 15px 15px 15px; 
}
            /*SOCIAL ICONS*/

.social_icons_container{  
    background-color:  #eeeeee;
    width: 1600px;
    height: 50px;    
}
.icons{   
}
.icons > img {
    padding-left: 10px;
    padding-top: 10px; 
}  

img1{
    height:19px;
    width: 19px;
    background-color: black; 
}
img2{
    height:10px;
    width: 23px;
}
img3{
    height:19px;
    width: 9px;
}
img4{
    height:18px;
    width: 21px;
}
img5{
    height:22px;
    width: 22px;
}

.designed{
    height: 30px;
    width: 400px;
    float: right;
    position: relative;
    bottom: 20px; 
}

.designed > p {
    font-family: m300;
    color:  #463f3a;
    font-size: 16px;
    line-height: 14px;
    text-align: right;  
    margin: 0;
    padding: 0 ; 
}  
